body{
            margin:0;
            padding:0;
        }
        .formbx{
            position: absolute;
            top:50%;
            left:50%;
        -webkit-transform:translate(-50%,-50%);
            -moz-transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);
            -o-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            width:400px;
        height:500px;
            padding: 80px 40px;
            background:#f8f9f5;
             
                
                
                
        }
        .formbx  h2{
            color:black;
            font-weight: 600;
            font-size:1.5em;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            
            
        }
    .formbx .inputbx{
            margin-bottom: 20px; 
        
        }

        .formbx .inputbx span{
           font-size: 16px;
            margin-bottom: :5px;
        letter-spacing: 1px;
            color:black;
            
            
    
        }
        .formbx .inputbx input{
            
            width:100%;
            padding:10px 20px;
            outline: none;
            font-weight: 400;
            border:none;
            font-size: 16px;
            background: transparent;
            border-radius: 5px;
            border-bottom: 2px solid grey;
            color:dimgrey;
        }
        
        .formbx .inputbx input[type="submit"]{

        background-color: blue;
            color:white;
            outline:none;
            border:none;
            font-weight: solid;
            font-size: 16px;
            cursor: pointer;
        
        }
        .formbx .inputbx input[type="submit"]:hover{

        background: #F53677;
        }
                
            
        
        #login-with-outlook{
             width:100%;
            padding:10px 20px;
            outline: none;
            font-weight:solid;
             border:1px soild black;
        font-size: 16px;
            background: transparent;
            border-radius: 5px;
            color:white;
            background: blue;
        }
        
     #login-with-gmail{
             width:100%;
            padding:10px 20px;
            outline: none;
            font-weight:solid;
             border:1px soild black;
            font-size: 16px;
            background: transparent;
            border-radius: 5px;
            color:white;
            background: red;
        }
         #login-with-facebook{
             width:100%;
            padding:10px 20px;
            outline: none;
            font-weight:solid;
             border:1px soild black;
            font-size: 16px;
            background: transparent;
            border-radius: 5px;
            color:white;
            background: blue;
             list-style: none;
        }
        .center{
            text-align: center;
        }